# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/

# Build output
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib

# Output images
output/*.bmp
output/*.png
output/*.ppm

# OS
.DS_Store
Thumbs.db

images/
input/
output/
